[submodule "external/whisper.cpp"]
	path = external/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "external/webrtcvad"]
	path = external/webrtcvad
	url = https://github.com/cpuimage/WebRTC_VAD
[submodule "external/rnnoise"]
	path = external/rnnoise
	url = https://github.com/xiph/rnnoise
[submodule "third_party/cppjieba"]
	path = third_party/cppjieba
	url = https://github.com/yanyiwu/cppjieba.git
[submodule "external/sherpa-onnx"]
	path = external/sherpa-onnx
	url = https://github.com/k2-fsa/sherpa-onnx
