[submodule "external/whisper.cpp"]
	path = external/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio.git
